@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar pt-3" style="        text-align: center;
        color: white;
        background-color: #0b057a;
        background-image: none">
        Blazor - client side
        <br />
        <div class="pt-4">Studenci</div>
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
